<div class="naibsectphead">
    <div class="mainsectopheader">
        <div class="tplogosec">
            <img src="../../../assets/images/logo/black_logo.svg"
                alt="">
            <div class="seletyouloca">
                <a href="javascript:void()"> <i class="material-icons">my_location</i>
                    Select You Location</a>
            </div>
        </div>
        <div class="topseacrh">

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Seacrh Here">
                <i></i>
            </div>
        </div>
        <div class="toploginbutin">
            <!-- <button class="loginbtn btn">Login</button> -->
            <button class="cartbtnsece btn"><i class="fa fa-shopping-cart"></i>Cart</button>
            <div class="dropdown " >
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">account_circle</i> Hi Signin
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" routerLink="/login">Login</a>
                  <a class="dropdown-item" href="javascript:void()">View Profile</a>
                  <a class="dropdown-item" href="javascript:void()">View Order</a>
                  <a class="dropdown-item" href="javascript:void()">Logout </a>
                </div>
              </div>
        </div>
    </div>
    <div class="bottomheader">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">All Categories</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/category" >Wooden bowl </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="javascript:void()">Choping board </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="javascript:void()">Wooden bowl </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="javascript:void()">Wooden bowl </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="javascript:void()">Wooden bowl </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>