<div class="mainseccate">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12 ">
                <div class="b_stick_box">
                    <div class="filter-title">Filters</div>
                    <div class="cartofilterleft ">
                        <div class="filtercolase">
                            <div class="filerlistshow">
                                <div class="filtercoheadin">Price </div>
                                <div class="mainsecprice">
                                    <div class="leftsecprifilter">
                                        <select name="" id="" class="prifilselct">
                                            <option value="">1000</option>
                                            <option value="">2000</option>
                                            <option value="">3000</option>
                                            <option value="">4000</option>
                                            <option value="">5000</option>
                                            <option value="">6000</option>
                                            <option value="">7000</option>
                                            <option value="">8000</option>
                                            <option value="">9000</option>
                                            <option value="">10000</option>
                                            <option value="">10000+</option>
                                        </select>
                                        <select name="" id="" class="prifilselct">
                                            <option value="">1000</option>
                                            <option value="">2000</option>
                                            <option value="">3000</option>
                                            <option value="">4000</option>
                                            <option value="">5000</option>
                                            <option value="">6000</option>
                                            <option value="">7000</option>
                                            <option value="">8000</option>
                                            <option value="">9000</option>
                                            <option value="">10000</option>
                                            <option value="">10000+</option>
                                        </select>
                                    </div>
                                </div>
                                <hr class="my-2">
                                <div class="filtercoheadin">Categories</div>
                                <div class="fogrop">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="Kiddie">
                                        <label class="form-check-label" for="Kiddie">Kiddie Castle</label>
                                    </div>
                                </div>
                                <div class="fogrop">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="DISNEY">
                                        <label class="form-check-label" for="DISNEY">Disney</label>
                                    </div>
                                </div>
                                <div class="fogrop">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="Kiddie">
                                        <label class="form-check-label" for="Kiddie">Kiddie Castle</label>
                                    </div>
                                </div>
                                <div class="fogrop">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="Toys">
                                        <label class="form-check-label" for="Toys">Toys</label>
                                    </div>
                                </div>
                                <div class="fogrop">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="MHK">
                                        <label class="form-check-label" for="MHK">MHK</label>
                                    </div>
                                </div>
                                <div class="fogrop">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="Chief">
                                        <label class="form-check-label" for="Chief">Miss &amp; Chief</label>
                                    </div>
                                </div>
                                <hr class="my-2">
                                <div class="filtercoheadin">Brand</div>
                                <div class="fogrop">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="2Years">
                                        <label class="form-check-label" for="2Years">Puma</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="4Years">
                                        <label class="form-check-label" for="4Years">Addidas</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="7Years">
                                        <label class="form-check-label" for="7Years">Redchief</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="11Years">
                                        <label class="form-check-label" for="11Years">Campus</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="11Yearsabove">
                                        <label class="form-check-label" for="11Yearsabove">All</label>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-6 col-12">
                <div class="catesortmainsec">
                    <div class="rightfilter">
                        <div class="row">
                            <div class="col-lg-3 col-md-12">
                                <div class="seacfilte"><input type="text" placeholder="Search Here"
                                        class="form-contorl"></div>
                            </div>
                            <div class="col-lg-3 col-md-12"></div>
                            <div class="col-lg-3 col-md-12"></div>
                            <div class="col-lg-3 col-md-12 text-right">
                                <select name="" id="" class="righfinslect">
                                    <option value="" selected>Sort By</option>
                                    <option value="">Low to High</option>
                                    <option value="">High to Low</option>
                                    <option value="">Newest First</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="mainseccarbox">
                        <a routerLink="./product-detail">
                            <div class="caterightmaincard">
                                <div class="righcardimgsec">
                                    <img src="https://crownbeautybook.com/frontend/images/toprecom/hairstyle.jpg" alt=""
                                        class="img-fluid">
                                </div>
                                <div class="rightcardcontent">
                                    <a routerLink="./product-detail">Lenovo D-Series 19.5 Inch Full HD TN Panel with Fully
                                        Adjustable Tilt Stand, Seamless Connectivity, HD...</a>
                                    <div class="rightpricse">
                                        <span class="rightmainpric">₹449</span> <del>₹799 </del><span
                                            class="rightoffce">(44% off)</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="caterightmaincard">
                            <div class="righcardimgsec">
                                <img src="https://crownbeautybook.com/frontend/images/toprecom/hairstyle.jpg" alt=""
                                    class="img-fluid">
                            </div>
                            <div class="rightcardcontent">
                                <a href="javascript:void()">Lenovo D-Series 19.5 Inch Full HD TN Panel with Fully
                                    Adjustable Tilt Stand, Seamless Connectivity, HD...</a>
                                <div class="rightpricse">
                                    <span class="rightmainpric">₹449</span> <del>₹799 </del><span
                                        class="rightoffce">(44% off)</span>
                                </div>
                            </div>
                        </div>
                        <div class="caterightmaincard">
                            <div class="righcardimgsec">
                                <img src="https://crownbeautybook.com/frontend/images/toprecom/hairstyle.jpg" alt=""
                                    class="img-fluid">
                            </div>
                            <div class="rightcardcontent">
                                <a href="javascript:void()">Lenovo D-Series 19.5 Inch Full HD TN Panel with Fully
                                    Adjustable Tilt Stand, Seamless Connectivity, HD...</a>
                                <div class="rightpricse">
                                    <span class="rightmainpric">₹449</span> <del>₹799 </del><span
                                        class="rightoffce">(44% off)</span>
                                </div>
                            </div>
                        </div>
                        <div class="caterightmaincard">
                            <div class="righcardimgsec">
                                <img src="https://crownbeautybook.com/frontend/images/toprecom/hairstyle.jpg" alt=""
                                    class="img-fluid">
                            </div>
                            <div class="rightcardcontent">
                                <a href="javascript:void()">Lenovo D-Series 19.5 Inch Full HD TN Panel with Fully
                                    Adjustable Tilt Stand, Seamless Connectivity, HD...</a>
                                <div class="rightpricse">
                                    <span class="rightmainpric">₹449</span> <del>₹799 </del><span
                                        class="rightoffce">(44% off)</span>
                                </div>
                            </div>
                        </div>
                        <div class="caterightmaincard">
                            <div class="righcardimgsec">
                                <img src="https://crownbeautybook.com/frontend/images/toprecom/hairstyle.jpg" alt=""
                                    class="img-fluid">
                            </div>
                            <div class="rightcardcontent">
                                <a href="javascript:void()">Lenovo D-Series 19.5 Inch Full HD TN Panel with Fully
                                    Adjustable Tilt Stand, Seamless Connectivity, HD...</a>
                                <div class="rightpricse">
                                    <span class="rightmainpric">₹449</span> <del>₹799 </del><span
                                        class="rightoffce">(44% off)</span>
                                </div>
                            </div>
                        </div>
                        <div class="caterightmaincard">
                            <div class="righcardimgsec">
                                <img src="https://crownbeautybook.com/frontend/images/toprecom/hairstyle.jpg" alt=""
                                    class="img-fluid">
                            </div>
                            <div class="rightcardcontent">
                                <a href="javascript:void()">Lenovo D-Series 19.5 Inch Full HD TN Panel with Fully
                                    Adjustable Tilt Stand, Seamless Connectivity, HD...</a>
                                <div class="rightpricse">
                                    <span class="rightmainpric">₹449</span> <del>₹799 </del><span
                                        class="rightoffce">(44% off)</span>
                                </div>
                            </div>
                        </div>
                        <div class="caterightmaincard">
                            <div class="righcardimgsec">
                                <img src="https://crownbeautybook.com/frontend/images/toprecom/hairstyle.jpg" alt=""
                                    class="img-fluid">
                            </div>
                            <div class="rightcardcontent">
                                <a href="javascript:void()">Lenovo D-Series 19.5 Inch Full HD TN Panel with Fully
                                    Adjustable Tilt Stand, Seamless Connectivity, HD...</a>
                                <div class="rightpricse">
                                    <span class="rightmainpric">₹449</span> <del>₹799 </del><span
                                        class="rightoffce">(44% off)</span>
                                </div>
                            </div>
                        </div>
                        <div class="caterightmaincard">
                            <div class="righcardimgsec">
                                <img src="https://crownbeautybook.com/frontend/images/toprecom/hairstyle.jpg" alt=""
                                    class="img-fluid">
                            </div>
                            <div class="rightcardcontent">
                                <a href="javascript:void()">Lenovo D-Series 19.5 Inch Full HD TN Panel with Fully
                                    Adjustable Tilt Stand, Seamless Connectivity, HD...</a>
                                <div class="rightpricse">
                                    <span class="rightmainpric">₹449</span> <del>₹799 </del><span
                                        class="rightoffce">(44% off)</span>
                                </div>
                            </div>
                        </div>
                        <div class="caterightmaincard">
                            <div class="righcardimgsec">
                                <img src="https://crownbeautybook.com/frontend/images/toprecom/hairstyle.jpg" alt=""
                                    class="img-fluid">
                            </div>
                            <div class="rightcardcontent">
                                <a href="javascript:void()">Lenovo D-Series 19.5 Inch Full HD TN Panel with Fully
                                    Adjustable Tilt Stand, Seamless Connectivity, HD...</a>
                                <div class="rightpricse">
                                    <span class="rightmainpric">₹449</span> <del>₹799 </del><span
                                        class="rightoffce">(44% off)</span>
                                </div>
                            </div>
                        </div>
                        <div class="caterightmaincard">
                            <div class="righcardimgsec">
                                <img src="https://crownbeautybook.com/frontend/images/toprecom/hairstyle.jpg" alt=""
                                    class="img-fluid">
                            </div>
                            <div class="rightcardcontent">
                                <a href="javascript:void()">Lenovo D-Series 19.5 Inch Full HD TN Panel with Fully
                                    Adjustable Tilt Stand, Seamless Connectivity, HD...</a>
                                <div class="rightpricse">
                                    <span class="rightmainpric">₹449</span> <del>₹799 </del><span
                                        class="rightoffce">(44% off)</span>
                                </div>
                            </div>
                        </div>
                        <div class="caterightmaincard">
                            <div class="righcardimgsec">
                                <img src="https://crownbeautybook.com/frontend/images/toprecom/hairstyle.jpg" alt=""
                                    class="img-fluid">
                            </div>
                            <div class="rightcardcontent">
                                <a href="javascript:void()">Lenovo D-Series 19.5 Inch Full HD TN Panel with Fully
                                    Adjustable Tilt Stand, Seamless Connectivity, HD...</a>
                                <div class="rightpricse">
                                    <span class="rightmainpric">₹449</span> <del>₹799 </del><span
                                        class="rightoffce">(44% off)</span>
                                </div>
                            </div>
                        </div>
                        <div class="caterightmaincard">
                            <div class="righcardimgsec">
                                <img src="https://crownbeautybook.com/frontend/images/toprecom/hairstyle.jpg" alt=""
                                    class="img-fluid">
                            </div>
                            <div class="rightcardcontent">
                                <a href="javascript:void()">Lenovo D-Series 19.5 Inch Full HD TN Panel with Fully
                                    Adjustable Tilt Stand, Seamless Connectivity, HD...</a>
                                <div class="rightpricse">
                                    <span class="rightmainpric">₹449</span> <del>₹799 </del><span
                                        class="rightoffce">(44% off)</span>
                                </div>
                            </div>
                        </div>
                        <div class="caterightmaincard">
                            <div class="righcardimgsec">
                                <img src="https://crownbeautybook.com/frontend/images/toprecom/hairstyle.jpg" alt=""
                                    class="img-fluid">
                            </div>
                            <div class="rightcardcontent">
                                <a href="javascript:void()">Lenovo D-Series 19.5 Inch Full HD TN Panel with Fully
                                    Adjustable Tilt Stand, Seamless Connectivity, HD...</a>
                                <div class="rightpricse">
                                    <span class="rightmainpric">₹449</span> <del>₹799 </del><span
                                        class="rightoffce">(44% off)</span>
                                </div>
                            </div>
                        </div>
                        <div class="caterightmaincard">
                            <div class="righcardimgsec">
                                <img src="https://crownbeautybook.com/frontend/images/toprecom/hairstyle.jpg" alt=""
                                    class="img-fluid">
                            </div>
                            <div class="rightcardcontent">
                                <a href="javascript:void()">Lenovo D-Series 19.5 Inch Full HD TN Panel with Fully
                                    Adjustable Tilt Stand, Seamless Connectivity, HD...</a>
                                <div class="rightpricse">
                                    <span class="rightmainpric">₹449</span> <del>₹799 </del><span
                                        class="rightoffce">(44% off)</span>
                                </div>
                            </div>
                        </div>
                        <div class="caterightmaincard">
                            <div class="righcardimgsec">
                                <img src="https://crownbeautybook.com/frontend/images/toprecom/hairstyle.jpg" alt=""
                                    class="img-fluid">
                            </div>
                            <div class="rightcardcontent">
                                <a href="javascript:void()">Lenovo D-Series 19.5 Inch Full HD TN Panel with Fully
                                    Adjustable Tilt Stand, Seamless Connectivity, HD...</a>
                                <div class="rightpricse">
                                    <span class="rightmainpric">₹449</span> <del>₹799 </del><span
                                        class="rightoffce">(44% off)</span>
                                </div>
                            </div>
                        </div>
                        <div class="caterightmaincard">
                            <div class="righcardimgsec">
                                <img src="https://crownbeautybook.com/frontend/images/toprecom/hairstyle.jpg" alt=""
                                    class="img-fluid">
                            </div>
                            <div class="rightcardcontent">
                                <a href="javascript:void()">Lenovo D-Series 19.5 Inch Full HD TN Panel with Fully
                                    Adjustable Tilt Stand, Seamless Connectivity, HD...</a>
                                <div class="rightpricse">
                                    <span class="rightmainpric">₹449</span> <del>₹799 </del><span
                                        class="rightoffce">(44% off)</span>
                                </div>
                            </div>
                        </div>
                        <div class="caterightmaincard">
                            <div class="righcardimgsec">
                                <img src="https://crownbeautybook.com/frontend/images/toprecom/hairstyle.jpg" alt=""
                                    class="img-fluid">
                            </div>
                            <div class="rightcardcontent">
                                <a href="javascript:void()">Lenovo D-Series 19.5 Inch Full HD TN Panel with Fully
                                    Adjustable Tilt Stand, Seamless Connectivity, HD...</a>
                                <div class="rightpricse">
                                    <span class="rightmainpric">₹449</span> <del>₹799 </del><span
                                        class="rightoffce">(44% off)</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>