<section class="mainsectionfooter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <div class="aboutlink">
                    <h5 class="footer_heading">Contact Us</h5>
                    <ul>
                        <li><a href="javascript:void()">Contact Us</a></li>
                        <li><a href="javascript:void()">About Us</a></li>
                        <li><a href="javascript:void()">Payments</a></li>
                        <li><a href="javascript:void()">Shipping</a></li>
                        <li><a href="javascript:void()">Cancellation & Returns</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="aboutlink">
                    <h5 class="footer_heading">Policy</h5>
                    <ul>
                        <li><a href="javascript:void()">Return Policy</a></li>
                        <li><a href="javascript:void()">Terms Of Use</a></li>
                        <li><a href="javascript:void()">FAQ</a></li>
                        <li><a href="javascript:void()">Privacy Policy</a></li>
                        <li><a href="javascript:void()">CSitemap</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="aboutlink">
                    <h5 class="footer_heading">Address</h5>
                    <address>
                        Lanka Bagh Govind Nagar Moradabad 244001, (UP)
                    </address>
                    <ul>
                        <li><a href="javascript:void()"><i class="fa fa-phone"></i> +91-9410076144</a></li>
                        <li><a href="javascript:void()"><i class="fa fa-envelope"></i> handicraft@gmail.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <div class="aboutlink">
                    <h5 class="footer_heading">Social Media</h5>
                    <ul>
                        <li><a href="javascript:void()"><i class="fa fa-facebook"></i> Facebook</a></li>
                        <li><a href="javascript:void()"><i class="fa fa-instagram"></i> Instagram</a></li>
                        <li><a href="javascript:void()"><i class="fa fa-linkedin"></i> Linkdin</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copyrightsection">
            <div class="row">
                <div class="col-12 text-center">
                    <p>© 2023 Handicraft Inventive. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</section>